* {
  margin: 0;
  padding: 0;
}

/*Colors*/
:root {
  --white: #fff;
  --dark-yellow: #fce38a;
  --coral: #f38181;
  --black: #000;
  --light-blue: #95e1d3;
  --gray: #999999;
  --dark-gray: #333333;
  --light-gray: #e5e5e5;
  --gray-bg: #f8f8f8;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white);
}

.wrapper {
  margin: 0 auto;
  width: 72%;
}

.content-divider {
  width: 60px;
  height: 3px;
  background-color: var(--white);
  margin-top: 40px;
}

.coral-color-divider {
  background-color: var(--coral);
}

.subtitle {
  font-family: "Kaushan Script", cursive;
  text-transform: capitalize;
  font-size: 24px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0px;
  background: linear-gradient(
    to bottom,
    rgba(243, 129, 129, 0.9),
    rgba(252, 227, 138, 0.9)
  );
  width: 100%;
}

.overlay-content {
  position: absolute;
  color: var(--white);
  display: none;
}

.name {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--dark-gray);
  font-weight: bold;
}

.position {
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
  color: var(--gray);
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

/* Landing section */

#landing-page {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);

  background: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../assets/landing-page-images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

header.sticky {
  background-color: var(--coral);
}

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-container .nav-container {
  display: flex;
}

.toggle-nav {
  display: none;
}

.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav ul li,
.nav-actions div {
  margin-left: 40px;
}

.main-nav ul li a {
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 8px;
}

.main-nav ul li a:hover {
  color: var(--dark-yellow);
  border-bottom: 3px solid var(--dark-yellow);
}

.nav-actions {
  display: flex;
}

.nav-actions .expand-nav {
  display: none;
}

.nav-actions div a i {
  color: var(--white);
}

.main-carousel {
  overflow: hidden;
  padding-top: 70px;
}

.main-carousel .slider {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.main-carousel .slider .slide {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
  width: 100%;
  flex-shrink: 0;
}

.main-carousel .slider .slide.active {
  display: flex;
}

.main-carousel .slider .slide > div {
  margin-top: 34px;
}

.main-carousel .subtitle {
  font-size: 62px;
}

.main-carousel .title {
  display: flex;
  flex-direction: column;
  font-size: 120px;
  font-stretch: normal;
  line-height: 0.93;
  text-align: center;
}

.learn-more-btn .btn {
  font-size: 14px;
  border: 3px solid var(--white);
  padding: 15px 32px;
}

.indicators {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.indicators .indicator {
  width: 23%;
  cursor: pointer;
}

.indicators .indicator .indicator-share {
  width: 100%;
}

.indicators .indicator .percent {
  background-color: var(--coral);
  display: none;
  height: 100%;
}

.indicators .indicator.active .percent {
  display: block;
}

.indicators .indicator:nth-child(1) .percent {
  width: 25%;
}

.indicators .indicator:nth-child(2) .percent {
  width: 50%;
}

.indicators .indicator:nth-child(3) .percent {
  width: 75%;
}

.indicators .indicator:nth-child(4) .percent {
  width: 100%;
}

.indicator-info span:first-child {
  font-size: 24px;
}

.indicator-info span:last-child {
  font-weight: normal;
  font-size: 18px;
}

/* About-Us and Our Team Section */

.info-container-description {
  margin: 50px 0 100px 0;
  width: 80%;
}

.info-container-description p {
  color: var(--gray);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}

.gallery-container {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#about-us .gallery-item img {
  width: 330px;
  height: 240px;
}

#about-us .gallery-container .gallery-item {
  position: relative;
  height: 240px;
}

#about-us .gallery-item:hover {
  cursor: pointer;
}

#about-us .gallery-container .gallery-item:hover .overlay {
  height: 100%;
}

#about-us .overlay-content {
  top: 44%;
  left: 32%;
  line-height: 2.5;
}

#about-us .overlay-content .caption {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

#about-us .gallery-item:hover .overlay-content {
  display: flex;
  flex-direction: column;
}

#about-us .gallery-item:hover {
  box-shadow: 10px 10px var(--light-blue);
}

/* Statistics Section */

#statistics {
  background-color: var(--light-blue);
  font-family: Montserrat;
  color: var(--white);
}

.statistics-container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  align-items: center;
}

.vertical-divider {
  width: 1px;
  background-color: var(--white);
  opacity: 0.2;
  height: 100%;
}

.statistics-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.statistics-item .count {
  font-weight: bold;
  font-size: 72px;
}

.statistics-item-description {
  text-transform: uppercase;
  font-size: 14px;
}

/* Services Section */
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
.services-collection {
  margin-top: 50px;
}

.services-row {
  display: flex;
  justify-content: space-around;
}

.services-row .service {
  width: 33%;
  display: flex;
  margin-left: 26px;
}

.service-icon {
  margin: 4px 24px 0;
}

.service-info .caption {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: var(--gray);
  line-height: 1.6;
  margin-top: 10px;
}

.horizontal-divider {
  height: 1px;
  background-color: var(--light-gray);
  margin: 50px 0;
}

/* Unique Design Section */

#unique-design {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../assets/design-section-images/design-section-bg.jpg);
}

.unique-design-container {
  padding-bottom: 40px;
}

.design-section-content {
  display: flex;
  justify-content: center;
}

.design-section-content .images {
  position: relative;
  height: 582px;
}

.design-section-content .images img:nth-child(2) {
  position: absolute;
  right: -159px;
  bottom: -90px;
}

/* Our team section */

#our-team .gallery-item img {
  width: 330px;
}

#our-team .gallery-container .gallery-item {
  position: relative;
}

#our-team .gallery-item .photo-container:hover {
  cursor: pointer;
}

#our-team .gallery-item .photo-container:hover .overlay {
  height: 408px;
}

#our-team .overlay-content {
  top: 44%;
  left: 21%;
  line-height: 2.5;
}

#our-team .overlay-content .socials-list {
  list-style: none;
  display: flex;
}

#our-team .gallery-item .photo-container:hover .overlay-content {
  display: flex;
  flex-direction: column;
}

#our-team .gallery-item .photo-container:hover img {
  box-shadow: 10px 10px var(--light-blue);
}

#our-team .overlay-content .socials-list li {
  background-color: var(--dark-yellow);
  padding: 5px 16px;
}

#our-team .overlay-content .socials-list li:not(:last-child) {
  border-right: 1px solid var(--coral);
}

#our-team .overlay-content .socials-list li a i {
  color: var(--coral);
}

.socials-list li:hover {
  background-color: var(--coral) !important;
  cursor: pointer;
}

.socials-list li:hover i {
  color: var(--dark-yellow) !important;
}

.member-info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  line-height: 2;
}

/* Sponsors section */

#sponsors {
  background-color: var(--gray-bg);
}

.logos {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
}

#sponsors .logos img {
  width: 160px;
  height: 160px;
}

/* Our work section */

#our-work .info-container {
  padding-bottom: 0;
}

.our-work-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.our-work-gallery .work-item {
  width: 100%;
  vertical-align: bottom;
}

.our-work-gallery .image {
  position: relative;
}

.our-work-gallery .image .overlay-content {
  top: 42%;
  left: 28%;
}

.our-work-gallery .image:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.our-work-gallery .image .overlay-content img {
  width: 30px;
  height: 30px;
}

.our-work-gallery .image .overlay-content .caption-title {
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  margin: 18px 0 10px;
}

.our-work-gallery .image .overlay-content .caption-subtitle {
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
}

.our-work-gallery .image:hover {
  cursor: pointer;
}
.our-work-gallery .image:hover .overlay {
  height: 100%;
}

.our-work-gallery .image:hover .overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* What we do Section */
#what-we-do .content {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#what-we-do .content .photo {
  margin-right: 30px;
}

.accordion {
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  cursor: pointer;
  padding: 15px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-name {
  display: flex;
  align-items: center;
}

.accordion-name img {
  margin-right: 15px;
}

.accordion-name span {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 14px;
  color: var(--dark-gray);
}

.arrow-icon {
  transition: all 0.5s;
  color: var(--gray);
}

.rotate {
  transform: rotate(180deg);
}

.accordion.active,
.accordion:hover {
  background-color: var(--gray-bg);
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.2s ease-out;
}

.panel::-webkit-scrollbar {
  width: 5px;
}
.panel::-webkit-scrollbar-track {
  background: var(--white);
}
.panel::-webkit-scrollbar-thumb {
  background-color: var(--light-blue);
  border-radius: 2.5px;
}

.panel p {
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
  line-height: 1.6;
  color: #999999;
}

/* Testimonials */

#testimonials {
  background-color: var(--gray-bg);
}

.testimonials-carousel,
.feedback-carousel {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 60%;
  align-items: center;
  padding: 70px 20px;
}

.testimonials-carousel i,
.feedback-carousel i {
  color: var(--gray);
  cursor: pointer;
}

.testimonials-carousel .prev-icon,
.feedback-carousel .prev-icon {
  margin-right: 75px;
}

.testimonials-carousel .next-icon,
.feedback-carousel .next-icon {
  margin-left: 75px;
}

#testimonials .carousel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: hidden;
}

#testimonials .carousel-item.active {
  display: flex;
}

#feedback .carousel-item.active {
  display: flex;
}

.carousel-item {
  width: 100%;
  display: none;
  align-items: center;
  flex-shrink: 0;
  min-height: 260px;
}

.carousel-item .carousel-icon {
  margin-right: 60px;
}

.carousel-item .carousel-icon img {
  border: 3px solid var(--light-blue);
  padding: 36px;
}

.carousel-item .carousel-photo img {
  border-radius: 50%;
  margin-right: 30px;
  width: 210px;
  height: 210px;
}

.testimonials-carousel .caption,
.feedback-carousel .caption {
  font-family: Roboto;
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
  color: #999999;
}

.author-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.author-container .content-divider {
  margin-top: 0;
}

/* Clients Section */

#clients {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../assets/clients-section/clients-bg.jpg);
  background-position: center;
  background-size: cover;
}

.clients-collection {
  margin-top: 80px;
}

.clients-collection .clients-row {
  display: flex;
}

.clients-collection .clients-row:nth-child(1) {
  margin-bottom: 70px;
}

.clients-collection .clients-row .client {
  display: flex;
  padding: 0 40px;
}

.clients-collection .clients-row .client .client-image img {
  border-radius: 50%;
  margin-right: 30px;
}

.clients-collection .clients-row .client .client-info {
  display: flex;
  flex-direction: column;
}

.clients-collection .clients-row .client .client-info .name {
  margin-bottom: 10px;
}

.clients-collection .clients-row .client .client-info .position {
  color: var(--dark-gray);
}

.clients-collection .clients-row .client .client-info .content-divider {
  margin: 20px 0;
}

.clients-collection .clients-row .client .client-info .client-biography {
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.6;
  color: var(--gray);
}

/* Blog Section */

.blog-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
  margin-top: 50px;
}

.blog {
  width: 30%;
}

.blog .horizontal-divider {
  margin: 20px 0;
}

.blog img {
  width: 330px;
  height: 240px;
}

.blog-info {
  line-height: 2.4;
}

.blog-info .caption {
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.6;
  color: var(--gray);
}

.blog .review {
  display: flex;
}

.blog .review i {
  color: var(--light-blue);
}

.blog .review span {
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
  line-height: 1.6;
  color: #999999;
}

.blog .review .views {
  margin-right: 18px;
}

.photo-container {
  position: relative;
  cursor: pointer;
}

.photo-container .blog-date {
  position: absolute;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  color: var(--white);
  bottom: 10px;
  padding: 20px;
  left: -10px;
  text-align: center;
}

.photo-container .blog-date .date {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
}

.photo-container .blog-date .month {
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
}

/* Map Section */

#map {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../assets/map.jpg);
  background-position: center;
}

#map .content {
  width: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--coral);
  padding: 50px 0;
}

#map .content a {
  margin: 18px 0;
}

#map .content a {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  color: var(--coral);
  text-transform: uppercase;
}
#map .content .content-divider {
  margin: 0;
}

/* Footer */

footer {
  background-color: var(--gray-bg);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.footer-col {
  width: 33%;
  padding: 0 38px;
}

.footer-col .logo {
  font-family: Montserrat;
  font-size: 46.5px;
  font-weight: bold;
  color: var(--light-gray);
}

.footer-col .caption {
  margin: 24px 0;
}

.footer-col .caption p {
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.6;
  color: var(--gray);
}

.followers span {
  font-family: "Montserrat";
}

.followers span:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}

.followers span:nth-child(2) {
  font-size: 14px;
}

footer .footer-col:nth-child(1) .horizontal-divider {
  margin: 20px 0;
}

.socials-suggestions {
  display: flex;
  margin-bottom: 18px;
  align-items: center;
}

.socials-suggestions span {
  text-transform: capitalize;
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
  line-height: 1.6;
  color: var(--gray);
  margin-right: 20px;
}

.socials-suggestions .socials a {
  color: var(--light-blue);
  margin-right: 7px;
}

.email-container {
  display: flex;
}

.email-container input {
  padding: 14px;
  border: 1px solid var(--light-gray);
  outline: none;
}

::placeholder {
  text-transform: capitalize;
  font-family: Roboto;
  font-size: 15px;
  color: var(--light-gray);
  font-style: italic;
  line-height: 1.6;
}

.email-container button {
  border: none;
  background-color: var(--light-blue);
  padding: 13px 34px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
}

.footer-col .blog-item {
  display: flex;
  margin-bottom: 30px;
}

.footer-col .blog-item .item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}

.footer-col .blog-item .item-info .name {
  font-size: 12px;
}

.insta-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
}

.footer-col span.view-more,
.item-info .date {
  font-family: Roboto;
  font-size: 13px;
  font-style: italic;
  line-height: 1.85;
  color: var(--dark-gray);
}

.item-info .date {
  color: var(--gray);
}

.footer-col .title {
  margin-bottom: 38px;
}

.copyrights-divider {
  margin: 0 auto;
}

.copyrights p {
  font-family: Montserrat;
  font-size: 14px;
  color: var(--dark-gray);
  text-align: center;
  padding: 24px 0;
}

.copyrights p span {
  color: var(--coral);
}

/* Media Queries */

@media (max-width: 1375px) {
  #about-us .gallery-container .gallery-item {
    height: 230px;
  }

  #about-us .gallery-container .gallery-item img {
    width: 300px;
    height: 230px;
  }

  #about-us .gallery-container .gallery-item:hover .overlay {
    height: 231px;
  }

  #our-team .gallery-item img {
    width: 300px;
    height: 370px;
  }

  #our-team .gallery-item .photo-container:hover .overlay {
    height: 370px;
  }

  .blog img {
    width: 300px;
    height: 200px;
  }

  .blog-info {
    line-height: 2.4;
    height: 110px;
  }
}

@media (max-width: 1280px) {
  #our-team .gallery-container,
  #about-us .gallery-container {
    flex-direction: column;
    align-items: center;
  }

  #our-team .gallery-container .gallery-item,
  #about-us .gallery-container .gallery-item {
    margin-bottom: 25px;
  }

  .our-work-gallery .image .overlay-content {
    top: 40%;
    left: 23%;
  }

  #sponsors .logos {
    text-align: center;
    flex-wrap: wrap;
  }

  #sponsors .logos a {
    width: 33%;
  }

  #footer .email-container {
    width: fit-content;
  }
}

@media (max-width: 1240px) {
  #blog .blog-container {
    flex-direction: column;
    align-items: center;
  }

  #blog .blog-container .blog {
    margin-bottom: 34px;
    width: 35%;
  }
}

@media (max-width: 1210px) {
  .clients-collection .clients-row .client .client-info .content-divider {
    margin: 10px 0;
  }

  .footer-container {
    flex-wrap: wrap;
  }

  .footer-col:nth-child(1) {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }

  .footer-col:nth-child(1) .horizontal-divider {
    width: 50%;
  }

  .footer-col:nth-child(2) {
    flex: 1;
  }

  .footer-col:nth-child(3) {
    flex: 0;
  }

  .footer-col .caption {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .statistics-item .count {
    font-size: 60px;
  }

  #services .services-collection {
    display: flex;
  }

  #services .services-row {
    flex-direction: column;
  }

  #services .services-row .service {
    margin-bottom: 40px;
    width: fit-content;
  }

  #unique-design .design-section-content {
    height: 480px;
  }

  #unique-design .design-section-content .images img:nth-child(1) {
    height: 480px;
  }

  #unique-design .design-section-content .images img:nth-child(2) {
    height: 460px;
    bottom: -10px;
  }

  #clients .clients-collection {
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  header .header-container {
    flex-direction: column;
  }

  .header-container .nav-container {
    margin-top: 20px;
  }

  .main-carousel .title {
    font-size: 92px;
  }

  #what-we-do .content {
    flex-direction: column;
    align-items: center;
  }

  #what-we-do .content .photo {
    margin-right: 0;
    margin-bottom: 40px;
  }

  #testimonials .testimonals-carousel .prev-icon,
  .feedback-carousel .prev-icon {
    margin-right: 40px;
  }

  #testimonials .testimonals-carousel .next-icon,
  .feedback-carousel .next-icon {
    margin-left: 40px;
  }

  #testimonials .caption,
  #feedback .caption {
    font-size: 18px;
  }

  #clients .clients-row {
    flex-direction: column;
    align-items: center;
  }

  .clients-collection .clients-row:nth-child(1) {
    margin-bottom: 0;
    margin-top: 60px;
  }

  .clients-collection .clients-row .client {
    width: 60%;
    margin-bottom: 40px;
  }

  #our-work .our-work-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .info-container {
    padding: 50px 0;
  }

  .our-work-gallery .image:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .our-work-gallery .image:nth-child(3) .work-item {
    height: 100%;
  }
}

@media (max-width: 880px) {
  .indicators .indicator {
    width: 16%;
  }

  .indicator-info span:first-child {
    font-size: 16px;
  }

  .indicator-info span:last-child {
    font-size: 14px;
  }

  .header-container .nav-container {
    margin-top: 0;
  }

  header .header-container {
    flex-direction: row;
    justify-content: center;
  }
  .main-nav a {
    display: none;
  }

  .nav-actions .expand-nav {
    display: block;
  }

  .toggle-nav.responsive {
    display: block;
    margin: 0 auto;
  }

  .toggle-nav.responsive ul {
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  .toggle-nav.responsive ul li:hover {
    color: var(--dark-yellow);
  }

  .toggle-nav.responsive ul li:hover a{
    color: var(--dark-yellow);
  }


  .toggle-nav ul li {
    margin-bottom: 25px;
  }

  .toggle-nav ul li a:hover {
    border-bottom: none;
  }

  .main-carousel .title {
    font-size: 80px;
  }

  .main-carousel.responsive {
    position: relative;
    top: 150px;
  }

  #statistics .statistics-container {
    flex-direction: column;
    height: fit-content;
    width: 40%;
  }
  #statistics .statistics-container .vertical-divider {
    width: 100%;
    height: 1px;
    margin: 10px 0;
  }

  .statistics-container .vertical-divider:first-child,
  .vertical-divider:last-child {
    display: none;
  }

  .carousel-item .carousel-icon {
    margin-right: 30px;
  }

  .carousel-item .carousel-icon img {
    padding: 20px;
  }

  .carousel-item .carousel-photo img {
    width: 140px;
    height: 140px;
  }

  #blog .blog-container .blog {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  #services .services-collection {
    flex-direction: column;
    width: 60%;
  }

  .services-row .service {
    margin-left: 0;
  }

  #sponsors .logos img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 820px) {
  .indicator-info span:first-child {
    font-size: 20px;
  }

  .indicator-info span:last-child {
    font-size: 14px;
  }

  .footer-col:nth-child(2) {
    flex: 0 0 100%;
  }

  #unique-design .design-section-content {
    height: 400px;
  }

  #unique-design .design-section-content .images img:nth-child(1) {
    width: 300px;
    height: 400px;
  }

  #unique-design .design-section-content .images img:nth-child(2) {
    width: 250px;
    height: 380px;
    bottom: 106px;
    right: -100px;
  }

  .testimonials-carousel .prev-icon,
  .feedback-carousel .prev-icon {
    margin-right: 30px;
  }

  .testimonials-carousel .next-icon,
  .feedback-carousel .next-icon {
    margin-left: 30px;
  }

  .carousel-text .author {
    font-size: 20px;
  }

  .our-work-gallery .image .overlay-content {
    top: 32%;
    left: 21%;
  }

  .our-work-gallery .image .overlay-content .caption-title {
    font-size: 10px;
  }

  .our-work-gallery .image .overlay-content .caption-subtitle {
    font-size: 9px;
  }
}

@media (max-width: 640px) {
  .main-carousel .subtitle {
    font-size: 42px;
  }

  .main-carousel .title {
    font-size: 60px;
  }

  #what-we-do .content .photo {
    text-align: center;
  }

  #what-we-do .content .photo img {
    width: 70%;
  }

  #what-we-do .content aside {
    width: 80%;
  }

  .carousel-item .carousel-icon img {
    width: 20px;
    padding: 5px;
  }

  #testimonials .caption,
  #feedback .caption {
    font-size: 16px;
  }

  .carousel-item .carousel-photo img {
    width: 70px;
    height: 70px;
  }

  .carousel-text .author {
    font-size: 18px;
  }

  .clients-collection .clients-row .client .client-image img {
    width: 80px;
  }
}
